
/PalmaProcess/bin
/PalmaProcess/obj
/PoissonProcess/bin
/PoissonProcess/obj
/PoissonProcess/bin
/PoissonProcess/obj
/PoissonProcess/bin
/PoissonProcess/obj
/GenerateTestData/bin
/GenerateTestData/obj
/ModelLotkaVolterra/bin/LotkaVolterra.zip
/ModelLotkaVolterra/_ReSharper.LotkaVolterra
/ModelLotkaVolterra/packages/IronPython.StdLib.2.7.4
/ModelLotkaVolterra/packages/IronPython.2.7.4