bin/
obj/
/GenerateTestData/_ReSharper.TestProcessSimulation
/GenerateTestData/_ReSharper.GenerateTestData
/GenerateTestData/publish
/GenerateTestData/bin
/ModelLotkaVolterra/_ReSharper.LotkaVolterra
/ModelLotkaVolterra/bin
/ModelLotkaVolterra/obj
/TestModel/bin
/TestModel/obj
/WienerProcess/bin
/WienerProcess/obj
/GenerateTestData/TestAnalyser/TestAnalyser_1_TemporaryKey.pfx
/GenerateTestData/TestAnalyser/TestAnalyser_TemporaryKey.pfx
/SemiMarkovProcess/bin
/SemiMarkovProcess/obj