<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.windows.forms jitDebugging="true" />
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="MWArray"  culture="neutral" publicKeyToken="e1d84a0da19db86f"/>
                <codeBase version="2.10.1.0" href="MWArray.dll"/>
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>